*{box-sizing:border-box;
}
body{margin:0px;
  min-height:100vh;
}




    .sve{display:grid;
    min-height:100vh;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(25,fr1);
    grid-template-areas:
    "a a a a a a a"
    "b b b b b b b"
    ". c c d d d ."
    ". c c d d d ."
    ". e e f f f ."
    ". e e f f f ."
    ". g g h h h ."
    ". g g h h h ."
    ". k k l l l ."
    ". k k l l l ."
    ". m m n n n ."
    ". m m n n n ."
    ". r r s s s ."
    ". r r s s s ."
    "v v v v v v v"
    ". o o p p p ."
    ". o o p p p ."
    ". t t u u u ."
    ". t t u u u ."
    ". i i z z z ."
    ". i i z z z ."
    ". q q w w w ."
    ". q q w w w ."
    ". q q w w w ."
    "j j j j j j j"
  ;}








/* Navigacioni bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(8, 8, 6, 0.801);
  }
  
  li {
    float:right;
    margin-right:1.5vw;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:1.5vw;
    margin:0px;
    text-decoration: none;
  }
  /* Slika loga */
  .img1{
      margin-left:40px;
      margin-right:40px;
      border-radius: 50%;
      height:55px;
      width:62px;
  }
  /* hover i aktiv za linkove */
  
  a:hover{box-shadow: inset 0 -5px 0 0  #1c87c9;}
  
  
    a:active{background-color:#1c87c9;}
    .plava{background-color:#1c87c9;}
  /* sve slike na levoj strani */
  .img2{
    padding:3vh;
    width:100%;
    height:40vh;
}
.img4{padding:3vh;
    width:100%;
    height:48vh;}
    .img5{padding:3vh;
    width:100%;
height:51vh;}
 
  /* zastave */
  .img3{height:45px;
    width:55px;
    padding:7px;
    margin:auto;
  }
  /* header */
  .header
 { grid-area:a;
  }
  
  /* divovi */
  .prvi{grid-area:b;
      text-align: center;}

  .drugi{grid-area: c;}

.treci{grid-area:d;
text-align: justify;}
.cetvrti{grid-area:e;}
.peti{grid-area:f;
text-align: justify;}
.sesti{grid-area:g;}
.sedmi{grid-area:h;
text-align: justify;}
.osmi{grid-area:k;}
.deveti{grid-area:l;
text-align: justify;}
.deseti{grid-area:m}
.jedanaesti{grid-area:n;
text-align: justify;}
.dvanaesti{grid-area:r;}
.trinaesti{grid-area:s;
text-align: justify;}
.cetrnaesti{grid-area:v;
text-align:center;}
.petnaesti{grid-area:o;}
.sesnaesti{grid-area:p;
text-align: justify;}
.sedamnaesti{grid-area:t;}
.osamnaesti{grid-area:u;
text-align: justify;}
.devetnaesti{grid-area:i;}
.dvadeseti{grid-area:z;
text-align: justify;}
.dvadesetprvi{grid-area:q;}
.dvadesetdrugi{grid-area:w;
text-align: justify;}
.footer{grid-area:j;
    display:inline-block;
    background-color:rgba(8, 8, 6, 0.801);
    height:8vh;
    color: white;
    text-align: center;}


    @media screen and (max-width:668px){

      li {width:100%;
        float:right;
        margin-right:1.5vw;
      }
    }
    

    @media screen and (max-width:600px){
.sve{display:grid;
    min-height:100vh;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(28,fr1);
    grid-template-areas:
    "a a a a a a a"
    "b b b b b b b"
    ". c c c c c . "
    ". d d d d d . "
    ". e e e e e ."
    ". f f f f f ."
    ". g g g g g ."
    ". h h h h h ."
    ". k k k k k ."
    ". l l l l l ."
    ". m m m m m ."
    ". n n n n n ."
    ". r r r r r ."
    ". s s s s s ."
    ". v v v v v ."
    ". o o o o o ."
    ". p p p p p ."
    ". t t t t t ."
    ". u u u u u ."
    ". i i i i i ."
    ". z z z z z ."
    ". q q q q q ."
    ". w w w w w ."
    ". w w w w w ."
    "j j j j j j j"
  ;}
}

    
